<nav class="navbar navbar-light bg-primary">
    <div class="container">
        <a href="/"><img src="/img/logo-white.png" alt="logo" class="logo"></a>
        <a href="/perguntar" class="btn btn-light text-primary fw-bold">Perguntar</a>
    </div>
</nav>